<% content_for :title, 'Inspection Reports' %>
<div class="grid md:grid-cols-3 gap-4 sm:gap-8">
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="flex justify-center items-center h-full w-full">
      <a class="rounded-full bg-primary-600 p-1.5 text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 mt-2" href="/exercise_entries/new?date=2023-12-15">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 w-5 h-5">
        <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"></path>
      </svg>
      </a>
    </div>
  </div>
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC866E85DDDDDDDDDD1&t=pi&w=320&h=240&sm=c" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">131 Rue SunnySide</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
    </div>
  </div>
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC839EB4DDDDDDDDDD0&t=pi&w=320&h=240&sm=c" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">1 Boul Masionneueve</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
    </div>
  </div>
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://images.unsplash.com/photo-1683009427037-c5afc2b8134d?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">280 Boul Rene Levesque</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
    </div>
  </div>

</div>
