<% content_for :title, 'Inspection Reports' %>
<div class="grid justify-center md:grid-cols-3 gap-4 sm:gap-8">
  <div class="min-h-[240px] max-w-sm rounded overflow-hidden shadow-lg">
    <%= link_to new_inspection_report_path do %>
    <div class="min-h-[240px] flex justify-center items-center h-full w-full">
      <div class="rounded-full bg-primary-600 p-1.5 text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 w-5 h-5">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"></path>
        </svg>
      </div>
    </div>
      <% end %>
  </div>
  <%= render partial: "inspection_report", collection: @inspection_reports %>
</div>
