<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-4 sm:my-6">
<div class="mx-auto max-w-7xl lg:flex lg:items-top lg:gap-x-10">
  <div class="mt-8 md:mt-16 lg:mt-28 xl:mt-32 mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
    <h1 class="max-w-xl text-4xl font-bold tracking-tight text-gray-900 md:text-6xl">Inspecting a home made easy</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">A tool to simplify building inspections without the fuss of manual notes and documentation.</p>
    <div class="mt-10 flex items-center gap-x-6">
      <%= link_to "Get started", inspection_reports_path, class: "btn-primary px-3.5 py-2.5" %>
    </div>
  </div>
  <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow turbo-native:hidden">
  </div>
</div>
</div>

